@import url('https://fonts.googleapis.com/css?family=Krub'); 

body {
    font-size: 1em;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #666666;
    font-weight: 400;
    
}
section:not(.imagebg):not([class*='bg-']) + section.bg--secondary {
    	border-top: 1px solid #ebebeb;
}

.bg--secondary {
    	background: #8FBC8F;
}

section, footer {
	padding-top: 7.42857143em;
	padding-bottom: 7.42857143em;
}

.bonus {
	text-align: center;	 
}

h4 { 
	 font-family: 'Krub', sans-serif;
}
h5 {
	font-family: 'Krub', sans-serif;
}
body {
	background-color: #B0E0E6;
}
.gambar {
	float: right;
}



.pembatas {
	background-color: #00CC99;
	width: 100%;
	height: 30px;
}
.isi1 {
	float: left;
}
.isi {
	width: 100%;
	height: 400px;
}



