@import url('https://fonts.googleapis.com/css?family=Krub'); 
.bonus {
	text-align: center;	 
}

h4 { 
	 font-family: 'Krub', sans-serif;
}
h5 {
	font-family: 'Krub', sans-serif;
}
.antpulsa {
	text-align: center;
}
